/*-- scss:rules --*/
.innrykk td { padding-left: 1.5em; }

span.oppforing, dfn.oppforing { color: $primary; }
span.snarveg { text-decoration: underline; }

/* Nummererte lister *utan* punktum etter talmarkørane
   og med doble mellomrom etter dei,
   og punktmerte lister med tankestrek som punktmerke,
   jf. avsnittet «Lister» i dei språklege retningslinjene */
@counter-style nummer {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: "  ";
}
ol {  list-style: nummer; }
ul { list-style-type: "– "; }
